@page "/"
@using RugbyWatch.Services
@rendermode InteractiveServer

@inject ProcessMatchReportsService ProcessMatchReportsService

<PageTitle>Home</PageTitle>

<h1>Hola Palomita! te quiero muuuucho!</h1>

<button class="btn btn-primary"  @onclick="StartProcess">Process PDF Files</button>

@if(_processedCount.HasValue)
{
    <p>Number of Match Reports successfully processed: @_processedCount</p>
}

@code {
    private int? _processedCount = null;

    private async Task StartProcess() {
        Console.WriteLine("Processing regional match reports..."); 
        _processedCount = await ProcessMatchReportsService.Execute();
        StateHasChanged(); 
    }

}



